fastapi
uvicorn
python-multipart

# Data Validation
pydantic

# Google AI & Cloud Services
google-generativeai
langchain
langchain-google-genai
google-cloud-speech
google-auth

# Firebase Database
firebase-admin

# Machine Learning & Data
faiss-cpu
scikit-learn
joblib
pandas
numpy

# Utilities
requests
Pillow
pydub
